.gradle
.idea
*.iml
*.iws
/build
out
buildSrc/.gradle
buildSrc/build
plugins/
modules/web-resources/generated/
.directory
modules/buildsystem/gradle/build
/modules/*/build/
/modules/docker/*/build/
/modules/jpa-buddy/jpa-buddy-optional-dependencies/*/build/
.sbs
.jpb
.ampicode
/jflex-1.9.1.jar
/idea-flex.skeleton
out.map
*.hprof
.intellijPlatform
*.DS_Store